body {
  margin: 0;
  padding: 0;
	height: 100vh;
	background: #fff;
  position: relative;
  overflow: hidden;
}

/* ==========>> Globals <<========== */

#arch--swipe-page-home-button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 50%;
  z-index: 9999;
  transform: translateX(-50%);
  border: none;
  border-radius: 100%;
  transition: 0.4s;
}

#arch--swipe-page-home-button:hover {
  transform: translateX(-50%) scale(1.2);
}

#arch--swipe-home-block {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: -100vh; left: 0;
  z-index: 10000;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 2s;
}

.arch--swipe-home-block-start {
  transform: translateY(200vh);
}

.arch--swipe-home-block-end {
  transform: translateY(200vh);
}

/* ==========>> Arch-Page-1 <<========== */

#arch--activity-section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.arch--background-slider::before,.arch--background-slider::after {
	content: "";
	position: absolute;
}

.arch--background-slider::after {
	right: 0;
	top: 0;
	transform: rotateZ(180deg);
}

.arch--background-slider::before {
	left: 0;
	top: 0;
}

.arch--background-slider {
	background: white;
	overflow: hidden;
	position: relative;
  width: 120vw;
  height: 140%;
  margin-left: -7vw;
  margin-top: -30vh;
  transform: rotate(20deg);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.arch--background-slider .arch--slide-track-up-1 {
	animation: slide-up 40s linear infinite;
	display: flex;
  flex-direction: column;
}

.arch--background-slider .arch--slide-track-up-2 {
	animation: slide-up 30s linear infinite;
	display: flex;
  flex-direction: column;
}

.arch--background-slider .arch--slide-track-down-1 {
	animation: slide-down 30s linear infinite;
	display: flex;
  flex-direction: column;
}

.arch--background-slider .arch--slide-track-down-2 {
	animation: slide-down 40s linear infinite;
	display: flex;
  flex-direction: column;
}

.arch--slide-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

@keyframes slide-up {
	0% { 
    transform: translateY(0); 
  }

	100% { 
    transform: translateY(calc(-254px * 5)) 
  }
}

@keyframes slide-down {
	0% { 
    transform: translateY(calc(-254px * 5)); 
  }

	100% { 
    transform: translateY(0) 
  }
}

/* ==========>> Activity <<========== */

#arch--activity-info-block {
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: 0;
  width: 1080px;
  height: 330px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6);
}

.arch--activity-info-block-content {
  padding: 30px;
  display: flex;
  gap: 40px;
}

#arch--logo {
  width: 30%;
  height: auto;
  margin-top: 30px;
  margin-left: 30px;
}

.arch--activity-info-block-content div {
  margin-top: 40px;
}

.arch--activity-info-block-content p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.arch--activity-info-block-content li {
  font-family: 'Montserrat', sans-serif;
}

/* ==========>> Adaptation <<========== */

@media screen and (max-width: 1080px) {
  .arch--background-slider {
    width: 130%;
    margin-left: -15vw;
  }

  #arch--activity-info-block {
    position: fixed;
    width: 100%;
    height: 195px;
  }

  .arch--activity-info-block-content {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .arch--activity-info-block-content div {
    margin-top: 0px;
  }

  .arch--activity-info-block-content p {
    font-size: 15px;
  }

  .arch--activity-info-block-content li {
    font-size: 12px;
  }

  #arch--logo {
    width: 20%;
    height: auto;
    margin: initial;
  }
}

@media screen and (max-width: 600px) {
  .arch--background-slider {
    width: 150%;
    margin-left: -23vw;
  }

  .arch--slide-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  @keyframes slide-up {
    0% { 
      transform: translateY(0); 
    }
  
    100% { 
      transform: translateY(calc(-164px * 5)) 
    }
  }
  
  @keyframes slide-down {
    0% { 
      transform: translateY(calc(-164px * 5)); 
    }
  
    100% { 
      transform: translateY(0) 
    }
  }

  #arch--activity-info-block {
    height: 13%;
  }

  .arch--activity-info-block-content p {
    font-size: 13px;
  }

  .arch--activity-info-block-content ul {
    display: none;
  }
}

@media screen and (max-width: 410px) {
  .arch--background-slider {
    width: 180%;
    margin-left: -35vw;
  }

  .arch--slide-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

  #arch--activity-info-block {
    height: 17%;
  }

  #arch--logo {
    display: none;
  }
}