
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --white: white;
    --black: black;
    --gray: gray;
}
.dropbtn {
    background-color: var(--gold);
    width: 50px;
    height: 25px;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 50px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 5px 2px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: var(--gold);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--gold);
}

#shyn--logo {
    width: 50%;
}

#sec1{
    /* background-image: url('../img/pic1.JPG'); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    /* background-image: url('../img/pic1.JPG'); */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}


.shyn_OmirGlamping{
    font-size: 50px;
    position: relative;
    color: var(--white);
    padding: 30px;
    padding-top: 90px;
}

.shyn_OmirGlamping {
    opacity: 0;
    animation-name: fade-in-out;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes fade-in-out {
    0%, 20.69% {
      opacity: 0;
      animation-delay: 1s;
    }
    13.79%, 93.1% {
      opacity: 1;
      animation-delay: 20s;
    }
  }
  


.shyn_main{
    width: 100%;
    position: relative;
}

.shyn_main img{
    width: 100%;
    object-fit: cover;
}

.shyn_Page1Foot{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shyn_Page1Foot1{
    padding: 50px;
    width: 15%;
    align-items: center;

}


.shyn_Page1Foot1elements{
    display: flex;
    gap: 10px;
    align-items: start;
    color: var(--white);
    margin-top: 20px;
}

.shyn_Page1Foot1elements p{
    font-size: 16px;
    font-weight: 100;
}

i{
    font-size: 150%;
}

.qr_img{
    width: 100%;
    position: relative;
}

.qr{
    width: 100%;
    padding-top: 50px;
    margin-top: 20px;
}

.shyn_Page1Foot2{
    width: 150px;
    right: 0;
    text-align: center;
    padding-right: 50px;
    align-items: center;
}


#shyn_sec2 {
    height: 100vh;
    width: 100%;
    position: relative;
    align-items: start;
}

.shyn_otzyvy {
    display: flex;
    padding: 50px;
    justify-content: space-between;
}

.shyn_otzyvy1 {
    display: block;
    width: 30%;
    background-color: #f9f9f931;
    border-radius: 20px; 
    cursor: pointer;
    text-align: center;
    transition: transform 1.5s ease; 
}

.shyn_otzyvy1:hover {
    transform: scale(1.13);
}


.shyn_otzyvy1 p{
    font-size: 28px;
    color: white;
}



#shyn_i {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
}



#shyn_i {
    color: var(--gray);
    font-size: 35px;
    margin-bottom: 15px;
}

#shyn_prices {
    height: 100vh;
    width: 100%;
    align-items: center;
}



.shyn_cards {
    display: flex;
    height: 50vh;
    cursor: pointer;
}

.shyn_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 15px;
  width: 20%;
  position: relative;
  background-color: rgba(128, 128, 128, 0.363);

}

.shyn_cards_content {
    border-radius: 15px;
}

.price {
  color: grey;
  font-size: 22px;
}

.shyn_card button {
  border: none;
  outline: 0;
  padding: 22px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--gold);
}

.shyn_card button:hover {
  opacity: 0.7;
}

.shyn_cards_content {
    width: 100%;
    height: 50vh;
}

.flip-card {
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
    width: 40%;
    height: 80vh;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-top: 500px;    
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }
  


  #shyn_cost {
    font-size: 50px;
  }


.shyn_cards_img {
    width: 25%;
    height: 15vh;
    margin: 0 auto;

}

.shyn_aboutprice {
    text-align: center;
    display: flex;

}



.shyn_stoimost {
    width: 80%;
    margin: 0 auto;
    text-align: start;
}


#glamping_standard, #v_stoimost {
    color: #000;
}



.shyn_stoimost p, .shyn_stoimost span{
    margin-top: 15px;
    color: #000 ;
}

.glamping_standard_cat {
    width: 60%;
    margin: 0 auto;
    height: 40%;
    border: solid 1px var(--gold);
    text-align: left;
    padding: 10px;
    margin-top: 50px;
}

.glamping_standard_cat :nth-child(1){
    font-size: 15px;
    margin-bottom: 15px;
}

.glamping_standard_cat :nth-child(2){
    font-size: 30px;
    width: 70%;
}

.shyn_dop_uslugugi {
    text-align: left;
    width: 69%;
    margin: 0 auto;
}

.shyn_dop_uslugugi p, #span {
    font-size: 15px;
    margin-top: 5px;
}



.shyn_dop_uslugugi :nth-child(1) {
    margin-top: 15px;
    font-size: 30px;
}

.span_p, .gift_p {
    display: flex;
}

.video_card {
    height: 80vh;
}


@media(max-width: 800px){  
  
    .shyn_dop_uslugugi p, #span {
        font-size: 10px;
    }
    
    .shyn_dop_uslugugi :nth-child(1) {
        margin-top: 3px;
        font-size: 15px;
    }
    .glamping_standard_cat {
        margin-top: 5px;
    }
    .glamping_standard_cat :nth-child(1){
        font-size: 10px;
        margin-bottom: 15px;
    }
    
    .glamping_standard_cat :nth-child(2){
        font-size: 15px;
        width: 70%;
    }

    .shyn_stoimost p, .shyn_stoimost span{
        margin-top: 10px;
    }
    
    .shyn_cards_img {
        width: 32%;
        height: 10vh;
    
    }
    
    .shyn_aboutprice {
        text-align: start;
    }
    
    
    .flip-card {
        margin-top: 500px;
    }

    .shyn_stoimost p, .shyn_stoimost span {
        font-size: 12px;
    }

    .shyn_card {
        width: 100%;
      }
    .shyn_cards {
        height: 60vh;
        margin-top: 100px;
    }
    .flip-card {
        width: 80%;
    }

    #shyn_prices {
        height: 90vh;
        margin-top: 150px;
    }

    .shyn_cards_content {
        width: 100%;
        height: 30vh;
    }

    #shyn_i {
        color: white;
        font-size: 35px;
    }
    
    header {
        justify-content: space-between;
    }

    .shyn_Page1Foot1elements p{
        font-size: 11px;
        font-weight: 100;
    }

    .shyn_Page1Foot1{
        width: 80%;
    }
    
    .shyn_Page1Foot2{
        align-items: center;
    }

    .shyn_Page1Foot1{
        padding: 50px;
        width: 25%;
        align-items: center;
    
    }

    .shyn_otzyvy {
        margin: 0 auto;
        display: block;
        width: 60%;
        left: 6%;
        height: 40vh;
    }

    .shyn_otzyvy1 {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
        height: 20vh;
    }



    .shyn_otzyvy1 p{
        font-size: 15px;
        
    }
    .video_card {
        height: 60vh;
    }
}


@media(max-width: 450px){  
    .shyn_Page1Foot1{
        padding: 50px;
        width: 100%;
        align-items: center;
    }
}

@media(min-height: 1000px) {
    .shyn_cards, .shyn_card {
        height: 50vh;
    }
    .shyn_cards_content {
        height: 20vh;
    }
    .shyn_otzyvy {
        left: 12%;
    }
    .shyn_cards {
        width: 80%;
    }
}

@media(max-height: 450px){  
    .shyn_Page1Foot1{
        padding: 50px;
        width: 30%;
        align-items: center;
    }

    .shyn_otzyvy1 {
        height: 30vh;
        width: 60%;
    }

    .shyn_i {
        font-size: 15px;
    }

    .qr{
        width: 60%;
    }
    .shyn_otzyvy {
        width: 80%;
        left: 2%;
        height: 100vh;
        padding: 0;
    }

    #shyn_sec2 {
        height: 200vh;
    }
    .shyn_cards {
        width: 350px;
        height: 80vh;
        margin-top: 200px;
    }
    .shyn_card h1{
       font-size: 30px;
    }

    .shyn_cards_img {
        width: 20%;
    }

    .shyn_cards_content {
        height: 40vh;
    }
    .shyn_stoimost p, .shyn_stoimost span{
        margin-top: 6px;
    }
    .video_card {
        height: 80vh;
    }
}


video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #eebdbd, #c5a082, #fffd98, #a3bc9a, #c4b58a, #d8d9dc, #d0c5de, #e4ca88, #fbe384);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
