body{
  
}

html{
    --white: white;
    --black: black;
    --gray: gray;
}

#shyn--logo {
    width: 50%;
}

#sec1{
    /* background-image: url('../img/pic1.JPG'); */
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    /* background-image: url('../img/pic1.JPG'); */
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}


.shyn_OmirGlamping{
    font-size: 50px;
    position: relative;
    color: var(--white);
    padding: 30px;
    padding-top: 90px;

}

.shyn_OmirGlamping {
    opacity: 0;
    animation-name: fade-in-out;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }
  
  @keyframes fade-in-out {
    0%, 20.69% {
      opacity: 0;
      animation-delay: 1s;
    }
    13.79%, 93.1% {
      opacity: 1;
      animation-delay: 20s;
    }
  }
  


.shyn_main{
    width: 100%;
    position: relative;
}

.shyn_main img{
    width: 100%;
    object-fit: cover;
}

.shyn_Page1Foot{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.shyn_Page1Foot1{
    padding: 50px;
    width: 15%;
    align-items: center;

}


.shyn_Page1Foot1elements{
    display: flex;
    gap: 10px;
    align-items: start;
    color: var(--white);
    margin-top: 20px;
}

.shyn_Page1Foot1elements p{
    font-size: 16px;
    font-weight: 100;
}

i{
    font-size: 150%;
}

.qr_img{
    width: 100%;
    position: relative;
}

.qr{
    width: 100%;
    padding-top: 50px;
    margin-top: 20px;
}

.shyn_Page1Foot2{
    width: 150px;
    right: 0;
    text-align: center;
    padding-right: 50px;
    align-items: center;
}












@media(max-width: 800px){  
    .shyn_Page1Foot1elements p{
        font-size: 11px;
        font-weight: 100;
    }

    .shyn_Page1Foot1{
        width: 80%;
    }
    
    .shyn_Page1Foot2{
        align-items: center;
    }

    .shyn_Page1Foot1{
        padding: 50px;
        width: 25%;
        align-items: center;
    
    }
}


@media(max-width: 450px){  
    .shyn_Page1Foot1{
        padding: 50px;
        width: 100%;
        align-items: center;
    }
}



@media(max-height: 450px){  
    .shyn_Page1Foot1{
        padding: 50px;
        width: 30%;
        align-items: center;
    }

    .qr{
        width: 60%;
    }
}


video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

